@font-face {
    font-family: 'BlenderPro';
    src: local('BlenderPro'), url(../fonts/BlenderPro.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BlenderPro';
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_logo {
        width: 50%;
    }
    .header_logo img {
        height: 10rem;
        margin-left: 3rem;
    }
    .header_login a {
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        margin-right: 3rem;
        transition: .25s;
    }
    .header_login a:hover {
        color: #ff6600;
        transition: .25s;
    }
  }
  
